@import "./variables.module.scss";
@import "./animation";

.main{
  background: $color-header-bg;
  height: 100vh;
  position: relative;

  &__container{
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    height:fit-content;
    transform: translate(-50%, -50%);
  }
  
  .text__heading{
    text-align: center;
    color:$color-white;
    font-family: "Raleway", sans-serif;
    line-height: 3.5rem;
    letter-spacing:.3rem;
    animation: moveInLeft 1s ease-out;
  
    span{
      color:$color-name-text;
    }
  }
  .text__subheading{
    text-align: center;
    color:$color-white;
    font-family: "Raleway", sans-serif;
    line-height: 3.5rem;
    letter-spacing:.3rem;
    animation: moveInRight 1s ease-out;
  
    span{
      color:$color-name-text;
    }
  }
  .button__container {
    margin: 0 auto;
    width: fit-content;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}